*, *::before, *::after {
  box-sizing: border-box;
}

html, body, div, span, button, h1, p, pre, a, code, nav, header, footer, main {
  background: transparent;
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  min-width: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

img, svg {
  display: block;
}

header, footer, main, nav {
  display: block;
}

:root {
  --rgb-background-night: 26, 27, 38;
  --rgb-background-storm: 36, 40, 59;
  --rgb-black: 0, 0, 0;
  --rgb-green: 158, 206, 106;
  --rgb-terminal-black: 65, 72, 104;
  --rgb-terminal-blue: 122, 162, 247;
  --rgb-terminal-cyan: 125, 207, 255;
  --rgb-terminal-white: 192, 202, 245;
  --rgb-turquoise: 180, 249, 248;
  --rgb-white: 255, 255, 255;

  --color-background-night: rgb(var(--rgb-background-night));
  --color-background-storm: rgb(var(--rgb-background-storm));
  --color-black: rgb(var(--rgb-black));
  --color-green: rgb(var(--rgb-green));
  --color-terminal-black: rgb(var(--rgb-terminal-black));
  --color-terminal-blue: rgb(var(--rgb-terminal-blue));
  --color-terminal-cyan: rgb(var(--rgb-terminal-cyan));
  --color-terminal-white: rgb(var(--rgb-terminal-white));
  --color-turquoise: rgb(var(--rgb-turquoise));
  --color-white: rgb(var(--rgb-white));

  --font-family: 'Cascadia Code', Menlo, Monaco, Consolas, 'Courier New', monospace;
  --font-size: clamp(0.625rem, 1.25vw, 1rem);
  --font-size-medium: 125%;

  --line-height: 1.4;

  --space-small: 0.5em;
  --space-medium: 1em;
  --space-large: 2em;
  --space-x-large: 3em;
  --space-xx-large: 4em;
  --space-xxx-large: 5em;
  --space-xxxx-large: 6em;

  --transition: 0.15s cubic-bezier(0.33, 1, 0.68, 1);
}

html {
  background: var(--color-background-night);
  font-size: 16px;
}

body {
  align-items: stretch;
  background: var(--color-background-night);
  color: var(--color-terminal-blue);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 300;
  line-height: var(--line-height);
  min-height: 100vh;
  min-height: 100dvh;
}

a {
  color: var(--color-terminal-cyan);
  font-weight: 700;
  text-decoration-thickness: 0.0875em;
  text-underline-offset: 0.125em;
  transition: color var(--transition);
}

@media(hover: hover) {
  a:hover {
    color: var(--color-white);
  }
}

.pre {
  display: grid;
  margin-top: var(--space-xx-large);
  padding-inline: var(--space-large);
}

.pre a {
  color: var(--color-green);
  font-weight: normal;
  justify-self: center;
  text-decoration: none;
}

.pre pre {
  color: var(--color-green);
  font-size: clamp(0.425rem, 1.25vw, 1rem);
  justify-self: center;
  letter-spacing: -0.0425em;
  line-height: 1.09375;
  white-space: pre;
  transition: color var(--transition);
}

@media(hover: hover) {
  .pre a:hover pre {
    color: var(--color-turquoise);
  }
}

@media(min-width: 64em) {
  .pre {
    margin-top: var(--space-xxxx-large);
    padding-inline: var(--space-xx-large);
  }
}

.header {
  display: grid;
  margin-top: var(--space-medium);
  padding-inline: var(--space-large);
}

.header h1 {
  font-size: var(--font-size-medium);
  text-align: center;
}

@media(min-width: 64em) {
  .header {
    padding-inline: var(--space-xx-large);
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  gap: 1.25em;
  margin-top: 1.25em;
  padding-inline: var(--space-large);
}

.nav__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

@media(min-width: 64em) {
  .nav {
    padding-inline: var(--space-xx-large);
  }
}

.button {
  align-items: center;
  background: var(--color-terminal-blue);
  border: none;
  border-radius: 0.4em;
  box-shadow:
    0 1px 0 0 rgba(var(--rgb-black), 0.1),
    0 0.2em 1.2em -0.4em rgba(var(--rgb-black), 0.2),
    0 0.4em 2.0em -0.8em rgba(var(--rgb-black), 0.3),
    0 0.4em 0.4em -0.8em rgba(var(--rgb-black), 0.4),
    0 0.8em 0.8em -1.2em rgba(var(--rgb-black), 0.5),
    0 1.2em 1.2em -1.6em rgba(var(--rgb-black), 0.6)
  ;
  color: var(--color-background-night);
  cursor: pointer;
  display: flex;
  font-weight: 700;
  gap: 1ch;
  height: 2.9em;
  line-height: 1;
  padding-inline: var(--space-medium);
  text-decoration: none;
  text-transform: uppercase;
  transition:
    background var(--transition),
    color var(--transition)
  ;
}

.button svg {
  height: 1.4em;
  overflow: visible;
  width: 1.4em;
}

@media(hover: hover) {
  .button:hover {
    background: var(--color-turquoise);
    color: var(--color-background-night);
  }
}

.command {
  background: var(--color-background-storm);
  border-radius: 0.4em;
  display: block;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}

.command pre {
  color: var(--color-turquoise);
  display: block;
  line-height: 1.4em;
  -ms-overflow-style: none;
  overflow-x: auto;
  padding: 0.7em 1.2em;
  scrollbar-width: none;
  white-space: pre;
}

.command pre code {
  line-height: 1;
}

.command pre::-webkit-scrollbar {
  display: none;
}

.command.command--copy button {
  background: url("data:image/svg+xml,%3Csvg fill='none' height='32' viewBox='0 0 32 32' width='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23b4f9f8'%3E%3Cpath d='m1 13.6563c0-1.8113 1.47-3.2813 3.28125-3.2813h2.8125c.37296 0 .73065.1482.99437.4119s.41188.6214.41188.9944c0 .3729-.14816.7306-.41188.9943s-.62141.4119-.99437.4119h-2.8125c-.12432 0-.24355.0494-.33146.1373-.0879.0879-.13729.2071-.13729.3315v14.0625c0 .2587.21.4687.46875.4687h14.06255c.1243 0 .2435-.0494.3314-.1373s.1373-.2071.1373-.3314v-2.8125c0-.373.1482-.7307.4119-.9944s.6214-.4119.9944-.4119c.3729 0 .7306.1482.9943.4119s.4119.6214.4119.9944v2.8125c0 .8702-.3457 1.7048-.9611 2.3201-.6153.6154-1.4499.9611-2.3201.9611h-14.06255c-.87024 0-1.70484-.3457-2.32019-.9611-.61536-.6153-.96106-1.4499-.96106-2.3201z'/%3E%3Cpath d='m10.375 4.28125c0-1.81125 1.47-3.28125 3.2813-3.28125h14.0625c1.8112 0 3.2812 1.47 3.2812 3.28125v14.06255c0 .8702-.3457 1.7048-.9611 2.3201-.6153.6154-1.4499.9611-2.3201.9611h-14.0625c-.8703 0-1.7049-.3457-2.3202-.9611-.6154-.6153-.9611-1.4499-.9611-2.3201zm3.2813-.46875c-.1244 0-.2436.04939-.3315.13729-.0879.08791-.1373.20714-.1373.33146v14.06255c0 .2587.21.4687.4688.4687h14.0625c.1243 0 .2435-.0494.3314-.1373s.1373-.2071.1373-.3314v-14.06255c0-.12432-.0494-.24355-.1373-.33146-.0879-.0879-.2071-.13729-.3314-.13729z'/%3E%3C/g%3E%3C/svg%3E") center center / 1.2em 1.2em no-repeat;
  border: none;
  cursor: pointer;
  display: block;
  height: 2.8em;
  opacity: 0.25;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity var(--transition);
  width: 2.8em;
  z-index: 1;
}

.command.command--copy pre {
  padding-right: 2.8em;
}

.command:before,
.command:after {
  content: '';
  height: 100%;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 1.2em;
}

.command:before {
  background: linear-gradient(
    90deg,
    rgba(var(--rgb-background-storm), 0) 0,
    var(--color-background-storm) 100%
  );
  left: calc(100% - 1.2em);
}

.command:after {
  background: linear-gradient(
    -90deg,
    rgba(var(--rgb-background-storm), 0) 0,
    var(--color-background-storm) 100%
  );
  right: calc(100% - 1.2em);
}

@media(hover: hover) {
  .command.command--copy button:hover {
    opacity: 1;
  }

  .command.command--copy:has(button:active) {
    transform: scale(1.01);
  }
}

@media(min-width: 64em) {
  .command.command--copy {
    border-radius: 0.3em;
    font-size: 20px;
    transition: transform var(--transition);
    will-change: transform;
  }

  .command.command--copy:before {
    background: linear-gradient(
      90deg,
      rgba(var(--rgb-background-storm), 0) 0,
      var(--color-background-storm) 33%
    );
    left: calc(100% - 3em);
    width: 3em;
  }
}

.footer {
  display: grid;
  gap: 1.25em;
  margin-top: auto;
  margin-bottom: var(--space-xx-large);
  padding-inline: var(--space-large);
  padding-top: var(--space-xx-large);
}

.footer__subhead {
  text-align: center;
}

@media(min-width: 64em) {
  .footer {
    margin-bottom: var(--space-xxxx-large);
    padding-inline: var(--space-xx-large);
    padding-top: var(--space-xxxx-large);
  }
}
