html {
  background: var(--color-black);
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  align-items: stretch;
  background: var(--color-black);
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 300;
  line-height: var(--line-height);
  min-height: 100vh;
  min-height: 100dvh;
  text-align: center;
}

a {
  color: var(--color-green);
  font-weight: 700;
  text-decoration-thickness: 0.0875em;
  text-underline-offset: 0.125em;
  transition: color var(--transition);
}

b,
strong {
  font-weight: 700;
}

i,
em {
  font-style: italic;
}

img {
  height: auto;
  max-width: 100%;
  width: 100%;
}



@media(hover: hover) {

  a:hover {
    color: var(--color-white);
  }

}
